.page6{
    width: 100vw;
    height: 77vw;
    background: rgba(38, 51, 93, 1);
}
.page6-upper{
    margin-left: 8vw;
    padding-top: 5vw;
}
.pg6-cards{
    width: 76vw;
    height: 27vw;
    display: inline-grid;
    grid-template-columns: repeat(2,1fr);
    
    column-gap: 2vw;
    margin-left: 8vw;
    margin-top: 8vw;
}
.pg6-c1,.pg6-c2{
    background: white;
    align-items: center;
}
.pg6-img{
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    margin-left: 14vw;
    margin-top: 2vw;
}
.pg6-card-txt{
    color:  rgba(115, 115, 115, 1);
    text-align: center;
    margin-top: 2vw;
    font-weight: 400px;

}